<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
  </head>
  <body>
    <header id="header">
      <div class="container header-container">
        <div class="logo">
          <a href="./index.html">
            <img src="./images/Trustwaveit2.png" alt="Trustwave IT Solutions" />
          </a>
        </div>
        <div class="mobile-toggle">
          <i class="fas fa-bars"></i>
        </div>
        <ul class="nav-menu">
          <li><a href="./index.html">Home</a></li>
          <li><a href="./index.html#services">Services</a></li>
          <li><a href="./index.html#about">About</a></li>
          <li><a href="./index.html#projects">Projects</a></li>
          <li><a href="./index.html#blog">Blog</a></li>
          <li><a href="./index.html#contact">Contact</a></li>
          <li><a href="tel:+917203008431" class="btn">Call Now</a></li>
        </ul>
      </div>
    </header>
  </body>
</html>
